body{
    background-color: 	lightblue;
}
::-webkit-scrollbar{
    width:0px;
}
#center_div{
    background-color: lightgrey; 
    width:40%;
    margin:auto;
    height:300px;
    overflow:auto;
    border-radius: 20px;
}
dt{
    position:sticky;
    top:0px;
    height:30px;
    font-size:large;
    text-align: center;
}
dl>div:nth-child(odd)>dt{
    background-color: lightcoral;
    color:white;
    margin-bottom: 20px;
}
dl>div:nth-child(even)>dt{
    background-color:peru;
    color:white;
    margin-bottom: 20px;
}
.fas{
    font-size:10px;
    color:rgba(0, 0, 0, 0.637);
    margin-right: 15px;
    
}